# ─── WAJIB DIISI ─────────────────────────────────────────
# Token dari @BotFather di Telegram
BOT_TOKEN=8758838540:AAGzpzAS0aa6_pZQ5jha3TK1TT8fRBTPxIs

# Chat ID kamu (dapat dari @userinfobot)
CHAT_ID=550266025

# ID Google Sheets (dari URL: docs.google.com/spreadsheets/d/INI_SHEET_ID/edit)
SHEET_ID=1Q182_xDid2Ut7wNLYlsotDdXGdqNOQ-q

# Path ke file credentials Google Service Account
GOOGLE_CREDS=credentials.json
